README.md linguist-generated
deepseek-r1-* linguist-generated
gemma2-* linguist-generated
hermes-3-* linguist-generated
jamba1.5-* linguist-generated
llama* linguist-generated
ministral* linguist-generated
mistral* linguist-generated
phi* linguist-generated
pixtral* linguist-generated
qwen* linguist-generated
