{%- set reqs = requirements|default([]) -%}
bentoml==1.4.15
{%- if not nightly %}
vllm==0.9.1
{%-endif %}
huggingface-hub
kantoku
{%- if (reasoning | lower == "true") or (vision | lower == "true") or (embeddings | lower == "true") %}
openai
{%- endif %}
pyyaml
fastapi
{%- if vision | lower == "true" %}
Pillow
{%- endif %}
{%- if reqs | length > 0 %}
{%- for r in reqs %}
{{r}}
{%- endfor %}
{%- endif %}
