{%- set reqs = requirements|default([]) -%}
bentoml==1.4.12
{%- if not nightly %}
vllm==0.8.5
{%- else %}
vllm --pre --extra-index-url https://wheels.vllm.ai/nightly
{%-endif %}
kantoku==0.18.3
pyyaml==6.0.2
fastapi==0.115.12
{%- if reqs | length > 0 %}
{%- for r in reqs %}
{{r}}
{%- endfor %}
{%- endif %}
