bentoml>=1.4.5
{%- if not nightly %}
vllm==0.7.3
{%-endif %}
kantoku>=0.18.1
{%- if (reasoning | lower == "true") or (vision | lower == "true") %}
openai>=1.67.0
{%- endif %}
pyyaml
fastapi
{%- if vision | lower == "true" %}
Pillow
{%- endif %}
